*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: cincel;

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(240, 0, 0); */
    background-image: url(/img/Dark-mode-graffiti-iPhone-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 20px;
    /* background: rgb(255, 255, 255); */
    background-image: url(/img/ad52cc00b07db4f8efaf0059ac0cb370d9184da6.webp);
    border-radius: 12px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.5);

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

}
.display{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(133, 54, 133);

}
.buttons button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    /* background-color: rgb(94, 94, 94); */
    

}
.buttons button:active{
    transform: scale(0.99); 

}
.operator{
    color: black;
}